n8n/workflow.json
{
    "name": "Alcovia Mentor Intervention Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "student-intervention",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook - Student Failed",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "student-intervention"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Intervention workflow started\" } }}"
            },
            "id": "webhook-response",
            "name": "Webhook Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "noreply@alcovia.com",
                "toEmail": "ravishrk0407@gmail.com",
                "subject": "🚨 URGENT: Student Intervention Required - {{ $json.student_name }}",
                "emailType": "html",
                "text": "",
                "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px; }\n    .container { background: white; border-radius: 10px; padding: 30px; max-width: 600px; margin: 0 auto; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px; text-align: center; }\n    .alert { background: #fee; border-left: 4px solid #f44; padding: 15px; margin: 20px 0; }\n    .stats { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; margin: 20px 0; }\n    .stat-box { background: #f9f9f9; padding: 15px; border-radius: 8px; text-align: center; }\n    .stat-value { font-size: 32px; font-weight: bold; color: #f44; }\n    .stat-label { color: #666; font-size: 14px; margin-top: 5px; }\n    .action-btn { display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: bold; margin: 10px 5px; }\n    .info-row { padding: 10px 0; border-bottom: 1px solid #eee; }\n    .label { font-weight: bold; color: #333; }\n    .value { color: #666; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🚨 Student Intervention Required</h1>\n    </div>\n    \n    <div class=\"alert\">\n      <strong>Action Required:</strong> A student has failed their daily check-in and is now locked out of the app.\n    </div>\n\n    <div class=\"info-row\">\n      <span class=\"label\">Student:</span> <span class=\"value\">{{ $json.student_name }}</span>\n    </div>\n    <div class=\"info-row\">\n      <span class=\"label\">Email:</span> <span class=\"value\">{{ $json.student_email }}</span>\n    </div>\n    <div class=\"info-row\">\n      <span class=\"label\">Time:</span> <span class=\"value\">{{ $json.timestamp }}</span>\n    </div>\n\n    <div class=\"stats\">\n      <div class=\"stat-box\">\n        <div class=\"stat-value\">{{ $json.quiz_score }}/10</div>\n        <div class=\"stat-label\">Quiz Score</div>\n        <div class=\"stat-label\" style=\"color: #f44;\">Required: >7</div>\n      </div>\n      <div class=\"stat-box\">\n        <div class=\"stat-value\">{{ $json.focus_minutes }}</div>\n        <div class=\"stat-label\">Focus Minutes</div>\n        <div class=\"stat-label\" style=\"color: #f44;\">Required: >60</div>\n      </div>\n    </div>\n\n    <div class=\"info-row\">\n      <span class=\"label\">Reason:</span><br>\n      <span class=\"value\">{{ $json.reason }}</span>\n    </div>\n\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <p><strong>Please assign a remedial task to unlock the student:</strong></p>\n      <a href=\"{{ $resumeWebhookUrl }}?task=Read Chapter 4 and retake the quiz&mentor=Mentor\" class=\"action-btn\">📚 Assign: Read Chapter 4</a>\n      <a href=\"{{ $resumeWebhookUrl }}?task=Complete practice exercises 1-10&mentor=Mentor\" class=\"action-btn\">✍️ Assign: Practice Exercises</a>\n      <a href=\"{{ $resumeWebhookUrl }}?task=Schedule 1-on-1 session with mentor&mentor=Mentor\" class=\"action-btn\">👥 Assign: 1-on-1 Session</a>\n    </div>\n\n    <div style=\"background: #f0f9ff; padding: 15px; border-radius: 8px; margin-top: 20px;\">\n      <strong>💡 Note:</strong> The student's app is currently locked. Click any action button above to assign a task and unlock them instantly via WebSocket.\n    </div>\n  </div>\n</body>\n</html>"
            },
            "id": "send-email",
            "name": "Send Email to Mentor",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                650,
                300
            ],
            "credentials": {
                "smtp": {
                    "id": "your-smtp-credentials-id",
                    "name": "SMTP Account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "wait-for-approval",
            "name": "Wait for Mentor Approval",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "webhookId": "mentor-approval"
        },
        {
            "parameters": {
                "url": "=http://localhost:3001/api/assign-intervention",
                "authentication": "none",
                "requestMethod": "POST",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"intervention_id\": $('Webhook - Student Failed').item.json.intervention_id,\n  \"assigned_task\": $resumeWebhookUrl.split('task=')[1].split('&')[0],\n  \"assigned_by\": $resumeWebhookUrl.split('mentor=')[1] || 'Mentor'\n} }}",
                "options": {}
            },
            "id": "call-backend",
            "name": "Assign Intervention (API Call)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "html",
                "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); min-height: 100vh; display: flex; align-items: center; justify-center; margin: 0; }\n    .container { background: white; border-radius: 15px; padding: 40px; max-width: 500px; text-align: center; box-shadow: 0 10px 40px rgba(0,0,0,0.2); }\n    .success-icon { font-size: 64px; margin-bottom: 20px; }\n    h1 { color: #333; margin-bottom: 10px; }\n    .task { background: #f0f9ff; padding: 15px; border-radius: 8px; margin: 20px 0; font-weight: bold; color: #0369a1; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"success-icon\">✅</div>\n    <h1>Task Assigned Successfully!</h1>\n    <p>The student has been notified and their app is now unlocked.</p>\n    <div class=\"task\">{{ $json.intervention.assigned_task }}</div>\n    <p style=\"color: #666; font-size: 14px; margin-top: 20px;\">You can close this window now.</p>\n  </div>\n</body>\n</html>"
            },
            "id": "confirmation-response",
            "name": "Confirmation Page",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ]
        }
    ],
    "connections": {
        "Webhook - Student Failed": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Response": {
            "main": [
                [
                    {
                        "node": "Send Email to Mentor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Email to Mentor": {
            "main": [
                [
                    {
                        "node": "Wait for Mentor Approval",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for Mentor Approval": {
            "main": [
                [
                    {
                        "node": "Assign Intervention (API Call)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assign Intervention (API Call)": {
            "main": [
                [
                    {
                        "node": "Confirmation Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2024-01-01T00:00:00.000Z",
    "versionId": "1"
}